{% extends 'base/main.html' %}
{%  block content %}

    <div class="top-bar">
        <div>
            <h1>Hello {{ request.user|title }}</h1>
            <h3 style="margin: 0">You have <i>{{ count }}</i> pending task{{ count|pluralize }}</h3>
        </div>
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout"/>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>


    <div id="wrapper-add-search">
        {#  SEARCH BAR  #}
        <form method="get" style="margin-top: 20px; display: flex;">
            <input type="Text" name="search-area" value="{{ query }}" />
            <input class="button" type="submit" value="Search" />
        </form>
        {# NEW TASK #}
        <a id="link-add" href="{% url 'create' %}">&#xFF0B;</a>
    </div>

    {#  TASKS LIST  #}
    <div class="wrapper-tasks-items">
        {% for task in Tasks %}
            <div class="wrapper-task">
                {% if task.completed %}
                    <div class="task-title">
                        <div class="icon-task-complete"></div>
                        <i><s><a href="{% url 'update' task.id %}">{{ task }}</a></s></i>
                    </div>
                    <a class="delete-link" href="{% url 'delete' task.id %}">&#x2717;</a>
                {% else %}
                    <div class="task-title">
                        <div class="icon-task-incomplete"></div>
                        <a href="{% url 'update' task.id %}">{{ task }}</a>
                    </div>
                    <a class="delete-link" href="{% url 'delete' task.id %}">&#x2717;</a>
                {% endif %}
            </div>
            {% empty %}
            <p>No tasks yet.</p>
        {% endfor %}
    </div>
{%  endblock content %}